{
  "presets": ["@babel/env", "@babel/typescript", "@babel/react"],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
